input[type=text]
{
font-size: 15px;
text-align: center;
}

header{
    
    font-style: bold;
    text-align: center;
}
body {
    background-color: thistle;
}

.navbar {
    font-size: 20px;
    background-color: #333;
}

.btn:hover
    {
    background: yellow;
    color: black;
    outline: none;
    }
	
.navbar a:hover {
    background-color:black;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	font-size: 20px;
}

#heading
{
    background-color:honeydew;
    animation:myani 10s infinite;
}

@keyframes myani
{
    0%{background-color:white;}
    30%{background-color:white;}
    60%{background-color:white;}
    100%{background-color:white;}
}
.nava{
font-size: 20px;
}

#pp{
            width: 250px;
            height: 300px;
            background-color: white;
            border: 30px solid red;
            border-radius: 20%;
            box-shadow:30px 30px 0px 0px blue;
        }