header{
    
    font-style: bold;
    text-align: center;
}
body {
    color: yellow
    background-color: white;
    margin: 0;
}

.navbar {
    font-size: 20px;
    background-color: #333;
}

.navbar a:hover {
    background-color:violet;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	font-size: 20px;
}

#heading
{
    background-color:honeydew;
    animation:myani 10s infinite;
}

@keyframes myani
{
    0%{background-color:aqua;}
    30%{background-color:yellow;}
    60%{background-color:seashell;}
    100%{background-color:paleturquoise;}
}
.nava{
font-size: 20px;
}
.vertical { 
            border-left: 4px solid black; 
            height: 310px; 
            position:absolute; 
            
            margin-left: 22%;
        }
