  input[type=text]
	{
    color: black;
	font-size: 15px;
    }

    .btn:hover
    {
    background: yellow;
    color: black;
    outline: none;
    }

header{
    
    font-style: bold;
    text-align: center;
}
body {
    margin: 0;
    background: radial-gradient(circle at 5% 2%, blue,violet,red);
    
}

.navbar {
    font-size: 20px;
    background-color: #333;
}

.navbar a:hover {
    background-color:black;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	font-size: 20px;
}

#heading
{
    background-color:honeydew;
    animation:myani 10s infinite;
}

@keyframes myani
{
    0%{background-color:white;}
    30%{background-color:white;}
    60%{background-color:white;}
    100%{background-color:white;}
}
.nava{
font-size: 20px;
}
.vertical { 
            border-left: 4px solid black; 
            height: 310px; 
            position:absolute; 
            
            margin-left: 22%;
        }
